<!--The content below is only a placeholder and can be replaced.-->

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<div id="jumbotron" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Restful Tasks {{ title }}</h1>
  </div>
</div>
<div class="container">
  <div class="col-md-">
    <div class="row">
      <div *ngFor="let t of tasks" class="card text-white bg-dark mb-3" style="width: 20rem;">
        <!-- <div class="card-header">Header</div> -->
        <div class="card-body">
          <h5 class="card-title">{{t.title}}</h5>
          <p *ngIf="isHidden == false" class="card-text">{{t.description}}</p>
          <button class="btn btn-danger" (click)="onButtonClickShow()">Show</button>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-info" (click)="onButtonClick()">Get all tasks</button>
    </div>
  </div>
</div>